# This file lists the Python dependencies for the project.
# It is used to create a virtual environment with all necessary packages.
# To install the dependencies, run: pip install -r requirements.txt
# Only works with Python 3.11.10 :-(

networkx==3.5
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.12.0
combinatory-synthesizer @ git+https://github.com/tudo-seal/cosy-draft.git@b58d4c531d277bee31613ac85d077754758200ba
mypy==1.15.0
mypy_extensions==1.1.0
typing_extensions==4.13.2
grakel==0.1.10
pydot
gpytorch==1.14
torch==2.6.0
pandas
matplotlib
